aiofiles==24.1.0
asyncpg==0.30.0
bcrypt==4.3.0
cffi==1.17.1
cryptography==44.0.2
greenlet==3.1.1
html5tagger==1.3.0
httptools==0.6.4
multidict==6.1.0
passlib==1.7.4
pycparser==2.22
PyJWT==2.10.1
sanic==24.12.0
sanic-routing==23.12.0
setuptools==75.8.2
SQLAlchemy==2.0.38
tracerite==1.1.1
typing_extensions==4.12.2
ujson==5.10.0
uvloop==0.21.0
websockets==15.0
